/* Fonts and color palette */

/* Roboto 300,400,500,700 */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

/* Montserrat 700 */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

.page-title-font {
  font-family: "Montserrat", sans-serif;
  font-size: 2.8rem !important;
}

.red-font {
  color: #c71a1a !important;
}

#body-colors-custom {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  color: #333333 !important;
  background-color: white;
}

.color-off-white {
  color: #f2f2f2 !important;
}

.btn:hover,
.footer-nav:hover {
  color: #333333 !important;
}

.bright-red-bg {
  background-color: #c71a1a !important;
}

.active {
  font-weight: 500 !important;
  color: #c71a1a !important;
  background-color: white !important;
}

.active-footer {
  font-weight: 500 !important;
  color: #333333 !important;
  background-color: #c71a1a !important;
}

.dark-grey-font {
  color: #333333 !important;
}

.header-active {
  color: #c71a1a !important;
  background-color: #f2f2f2 !important;
}

.light-grey-bg {
  background-color: #474747 !important;
}

.light-red-bg {
  background-color: #fff5f5;
}

.text-link {
  color: #333333 !important;
}

.text-link:hover {
  color: #c71a1a !important;
}

/* Navbar */

.navbar-text-cst {
  font-family: "Montserrat", sans-serif !important;
  font-size: 1rem;
}

.footer-text-cst {
  font-family: "Montserrat", sans-serif !important;
  font-size: 1rem;
}

.header-nav:hover {
  color: #c71a1a !important;
}

.header-nav:active {
  background-color: white !important;
}

/* Home */

.main-content-area {
  padding: 5% 10% !important;
}

.auto-margin {
  margin: auto !important;
}

.btn {
  font-family: "Montserrat", sans-serif !important;
  width: 90% !important;
  height: 3rem;
  background-color: #c71a1a !important;
  color: #f2f2f2 !important;
  border: none !important;
}

/* Info pages */

.accordion-button::after {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-header,
.accordion-link {
  font-family: "Montserrat", sans-serif !important;
}

.accordion-link {
  text-decoration: none !important;
}

.accordion-icon {
  font-size: 1.5rem;
}

li::marker {
  color: #c71a1a !important;
  font-size: 1.5rem;
}

/* Footer */

.icons {
  font-size: 2rem;
}

.footer-text {
  color: #f2f2f2;
}

/* Media queries */

/* 576px or less */
@media (max-width: 576px) {
  .icons {
    font-size: 1rem;
  }

  .footer-text {
    font-size: 0.8rem;
  }

  .page-title-font {
    font-size: 2.2rem !important;
  }
}

@media (min-width: 576px) {
  .btn {
    width: 60% !important;
  }
}

@media (max-width: 767px) {
  .icons {
    font-size: 1rem;
  }

  .footer-text {
    font-size: 0.8rem;
  }
}

@media (min-width: 992px) {
  .btn {
    width: 70% !important;
  }

  .page-title-font {
    font-size: 3.5rem !important;
  }

  .navbar-text-cst {
    font-size: 1.1rem !important;
  }
}
