/* Fonts */

/* Roboto regular */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Montserrat semiBold */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

/* playfair */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");

/* Open Sans 300-800 */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap");

/* Raleway */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");

/* Source sans 3 */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap");

.heading-font {
  font-family: "Raleway", sans-serif;
  color: #62a208 !important;
}

/* Colour palettes */
#body-colors-cst {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  color: #1b3d2f !important;
  background-color: #fdf59b;
}

.color-dark-grey {
  color: #1b3d2f !important;
}

a:hover,
.btn:hover {
  color: #9ade39 !important;
  background-color: #f2fedc !important;
}

.nav-bg {
  background-color: #f2fedc !important;
}

.active {
  font-weight: 600 !important;
  color: #9ade39 !important;
  background-color: #f2fedc !important;
}

/* Navbar */

.navbar-text-cst {
  font-family: "Raleway", sans-serif !important;
}

/* Home */

.main-content-area {
  padding: 5% 10% !important;
}

.auto-margin {
  margin: auto !important;
}

.btn {
  font-family: "Raleway", sans-serif !important;
  width: 90% !important;
  height: 3rem;
  background-color: #f2fedc !important;
  color: #1b3d2f !important;
  border: none !important;
}

/* Footer */

.icons {
  font-size: 2rem;
}

/* Media queries */
@media (min-width: 576px) {
  .btn {
    width: 60% !important;
  }
}

@media (max-width: 576px) {
  .icons {
    font-size: 1rem;
  }

  .footer-text {
    font-size: 0.8rem;
  }
}

@media (max-width: 767px) {
  .icons {
    font-size: 1rem;
  }

  .footer-text {
    font-size: 0.8rem;
  }
}

@media (min-width: 992px) {
  .btn {
    width: 70% !important;
  }
}

@media (min-width: 1200px) {
  .btn {
    width: 60% !important;
  }
}

@media (min-width: 1400px) {
  .btn {
    width: 50% !important;
  }
}
