/* Colour pallettes */
#first-pallette {
  overflow-x: hidden;
  color: #333333 !important;
}

/* Navbar */
#navbar {
  padding: 0;
}

.color-dark-grey {
  color: #333333 !important;
}

a:hover {
  color: #d9534f !important;
}

a:focus {
  background-color: #f2f2f2 !important;
}

/* Home */

.paragraph {
  padding-left: 20% !important;
  padding-right: 20% !important;
}

/* Footer */
.red-bg {
  background-color: #f2f2f2;
}

.icons {
  font-size: 2rem;
}

/* Hero Image */
/*.hero-outer {
  height: 600px;
  width: 100%;
  overflow: hidden;
}*/

/* Media queries */

/* Hero Image */
/*@media (min-width: 1024px) {*/
/*.hero-outer {
  position: relative;
}

#hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -53%);
  z-index: -1;
}
/*}*/
