/* Navbar */
#navbar {
  padding: 0;
}

/* Hero Image */
/*.hero-outer {
  height: 600px;
  width: 100%;
  overflow: hidden;
}*/

/* Media queries */

/* Hero Image */
/*@media (min-width: 1024px) {*/
/*.hero-outer {
  position: relative;
}

#hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -53%);
  z-index: -1;
}
/*}*/
