/* Fonts and colour palette */

/* playfair */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");

/* Raleway */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");

/* Open Sans 300-800 */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap");

.heading-font {
  font-family: "Raleway", sans-serif;
  color: #62a208 !important;
}

#body-colors-cst {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  color: #1b3d2f !important;
  background-color: #fdf59b;
}

.color-dark-grey {
  color: #1b3d2f !important;
}

.btn:hover {
  color: #25d0bb !important;
}

.nav-bg {
  background-color: #f2fedc !important;
}

.active {
  font-weight: 600 !important;
  color: #25d0bb !important;
  background-color: #f2fedc !important;
}

.active-footer {
  font-weight: 600 !important;
  color: #25d0bb !important;
  background-color: #f2fedc !important;
}

.footer-nav:hover {
  color: #25d0bb !important;
}

.header-active {
  color: #25d0bb !important;
}

/* Navbar */

.navbar-text-cst {
  font-family: "Raleway", sans-serif !important;
  font-size: 1.2rem;
}

.footer-text-cst {
  font-family: "Raleway", sans-serif !important;
}

.header-nav:hover {
  color: #25d0bb !important;
}

.nav-list {
  background-color: #fdf59b !important;
}

/* Home */

.main-content-area {
  padding: 5% 10% !important;
}

.auto-margin {
  margin: auto !important;
}

.btn {
  font-family: "Raleway", sans-serif !important;
  width: 90% !important;
  height: 3rem;
  background-color: #f2fedc !important;
  color: #1b3d2f !important;
  border: none !important;
}

/* Footer */

.icons {
  font-size: 2rem;
}

.footer-text {
  color: #1b3d2f;
}

/* Media queries */
@media (max-width: 576px) {
  .icons {
    font-size: 1rem;
  }

  .footer-text {
    font-size: 0.8rem;
  }
}

@media (min-width: 576px) {
  .btn {
    width: 60% !important;
  }
}

@media (max-width: 767px) {
  .icons {
    font-size: 1rem;
  }

  .footer-text {
    font-size: 0.8rem;
  }
}

@media (min-width: 992px) {
  .btn {
    width: 70% !important;
  }
}
